@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

html {
    scroll-behavior: smooth;
  }
  
body{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
   
}
html {
    scroll-behavior: smooth;
}
img{
    max-width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.nav-menu li:hover a{
    color: #258AFF;
    transition: 0.5s all;
}
.nav-menu li.active a{
    color: #258AFF;
    font-weight: 600;
}

.center-ab{
    bottom: -35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tab-cate li a:hover{
    box-shadow: 0px 2px 10px rgba(41, 170, 243, 0.2);
    transition: 0.5s all;
}

.tab-cate li a:hover span{
    color: #258AFF;
    font-weight: 600;
    transition: 0.5s all;
}

.sales{
    background: url('./images/bnsales.png') no-repeat center center;
    background-size: 100% 100%;

}

.rating {
    border: none;
    float: left;
  }

  .rating > input { display: none; }
  .rating > label:before {
    margin: 5px;
    font-size: 1em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";

  }

  .rating > .half:before {
    content: "\f089";
    position: absolute;

  }

  .rating > label {
    color:#FFA800;
  }

  /***** CSS Magic to Highlight Stars on Hover *****/

  /* .rating > input:checked ~ label,
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label { color: #FFA800;  }

  .rating > input:checked + label:hover,
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label,
  .rating > input:checked ~ label:hover ~ label { color: #FFED85;  }  */
.pagination li a{
    color: #3A57E8;
    padding: 8px 12px;
    border: 1px solid #DEE2E6;
    background:#FFF;
}
.pagination li a:hover{
    background-color: #3A57E8;
    color: #FFF;
    transition: 0.5s all;
}
.pagination li.active a{
    background-color: #3A57E8;
    color: #FFF;
}
.nav-menu-mb{
    box-shadow: 0px 0px 2px rgba(145, 158, 171, 0.24), -20px 20px 40px -4px rgba(145, 158, 171, 0.24);
    z-index: -1;
    opacity: 0;
    transform: translateY(-4px);
    visibility: hidden;
    transition: 0.5s all;
}
.show-menu{
    z-index: 4;
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
    transition: 0.5s all;
}
.box{
    background: #FFFFFF;
    box-shadow: -1px 4px 24px rgba(0, 0, 0, 0.12);
    border-radius: 12px
}

@media only screen and (max-width: 768px) {
    .center-ab{
        bottom: -65%;

    }
    .sales{
        background: url('./images/bg-mb.png') no-repeat center center;
    }
    .rating > label:before {
        font-size: 0.7em;
        margin: 1px;
      }
}
