body{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    scrollbar-width: auto;
    scrollbar-color: #969696 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #969696;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
img{
    max-width: 100%;
    height: 100% !important;
    object-fit: cover;
}
.banner{
    background: url('../images/bannerdk.png') no-repeat center center fixed;
    background-size: 100% 100%;
    height: 100%;
    overflow: hidden;
}
.banner-lg-V{
    background: url('../images/bannerlg.png') no-repeat center center fixed;
    background-size: 100% 100%;
    overflow: hidden;
}
.banner-lg-Ncc{
    background: url('../images/bannerncc.png') no-repeat center center fixed;
    background-size: 100% 100%;
    overflow: hidden;
}
.tab-register li{
    padding: 8px 60px;
    cursor: pointer;
}
.tab-register li.active{
    background-color: white;
    border-radius: 8px;
    text-align: center;
}
.tab-register li a{
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
}
.check-item div.active span{
    color: #1890FF;
    font-weight: 700;
}
.btn-ctn{
    border: 1px solid #D9D9D9;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
}
.register a.active{
    border: 1px solid #1890FF;
    background-color: #1890FF;
    color: white;
}
.register-1 a.active{
    border: 1px solid #1890FF;
    background-color: #1890FF;
    color: white;
}
.register span{
    text-align: center;
}
.login span{
    text-align: center;
}
input[type="submit"].active{
    border: 1px solid #1890FF;
    background-color: #1890FF;
    color: white;
    cursor: pointer;
}
.btnSign input.active{
    border: 1px solid #1890FF;
    background-color: #1890FF;
    color: white;
    cursor: pointer;
}
.btnSign-V input.active{
    border: 1px solid #1890FF;
    background-color: #1890FF;
    color: white;
    cursor: pointer;
}

.over-lay{
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s all;
}
.over-lay-modal{
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.deleteImg{
    z-index: 2;
    width: 16px;
    height: 16px;
    position: absolute;
    opacity: 0;
    transition: 0.5s all;
}
.file-name .item:hover .over-lay{
    opacity: 1;
    transition: 0.5s all;
}
.file-name .item:hover .deleteImg{
    opacity: 1;
    transition: 0.5s all;
}
.file-sp .item:hover .over-lay{
    opacity: 1;
    transition: 0.5s all;
}
.file-sp .item:hover .deleteImg{
    opacity: 1;
    transition: 0.5s all;
}
.error{
    color: #FF4D4F;
}
.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    transform: translateY(10px);
    opacity: 0;
    transition: 0.5s all;
    visibility: hidden;
}
.show-modal{
    opacity: 1;
    z-index: 999;
    transform: translateY(0);
    transition: 0.5s all;
    visibility: visible;
}
.show-modal .over-lay-modal{
    opacity: 1;
    z-index: 2;
    transition: 0.5s all;
    visibility: visible;
}
.show-modal .information{
    opacity: 1;
    z-index: 10;
    transition: 0.5s all;
    visibility: visible;
}

.information{
    position: relative;
    z-index: 1;
}

.success{
    background: url('../images/success.png') no-repeat center center fixed ;
    background-size: cover;
}

.pending{

    background: url('../images/pending.png') no-repeat center center fixed ;
    background-size: cover;
}
.failed{
    background: url('../images/failed.png') no-repeat center center fixed ;
    background-size: cover;
}

.login input[type="submit"].active{
    border: 1px solid #1890FF;
    background-color: #1890FF;
    color: white;
    cursor: pointer;
}
.smsXT input[type="button"].disabled{
    background-color: #D9D9D9;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    color: rgba(0, 0, 0, 0.25);
}
.nav-menu li{
    padding: 8px 16px;
    border-radius: 8px;
    position: relative;
}
.nav-menu li a{
    color: #2F54EB;
}

.nav-menu li.active{
    background-color: #2F54EB;
}
.nav-menu li.active a{
    color: white;
}
.nav-menu li:hover{
    background-color: #2F54EB;
    transition: 0.5s all;
}
.nav-menu li a svg{
    transform: rotate(0);
    transition: 0.5s all;
}
.nav-menu li.active a svg{
    fill: white;
    transform: rotate(0deg);
    transition: 0.5s all;
}
.nav-menu li:hover a svg{
    fill: white;
    transform: rotate(180deg);
    transition: 0.5s all;
}
.nav-menu li:hover a{
    color: white;
    transition: 0.5s all;
}
.nav-menu li:hover > .sub-nav{
    opacity: 1;
    transform: translateY(0);
    transition: 0.5s all;
    z-index: 10;
    visibility: visible;
}
.sub-nav{
    padding: 10px 0;
    position: absolute;
    min-width: 280px;
    transform:translateY(50px);
    top: 44px;
    left: 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    background-color: #FFFFFF;
    transition: 0.5s all;
    border-radius: 2px;
    box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
}
.sub-nav li{
    padding: 5px 12px;
    border-radius: 0;
}

.sub-nav li:hover{
    background-color: #F5F5F5;
    transition: 0.5s all;
}
.sub-nav li a{
    color: rgba(0, 0, 0, 0.85) !important;
    transition: 0.5s all;
}
.sub-nav li:hover a{
    color: #2F54EB;
    transition: 0.5s all;
}
/* .user:hover > .sub-nav-user{
    opacity: 1;
    transform: translateY(0);
    transition: 0.5s all;
    z-index: 10;
    visibility: visible;
} */
.sub-nav-user{
    padding: 10px 0;
    position: absolute;
    min-width: 200px;
    transform:translateY(50px);
    top: 44px;
    right: 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    background-color: #FFFFFF;
    transition: 0.5s all;
    border-radius: 2px;
    box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
}
.sub-nav-user li{
    padding: 5px 12px;
    border-radius: 0;
}

.sub-nav-user li:hover{
    background-color: #F5F5F5;
    transition: 0.5s all;
}
.sub-nav-user li a{
    color: rgba(0, 0, 0, 0.85) !important;
    transition: 0.5s all;
}
.sub-nav-user li:hover a{
    color: #2F54EB;
    transition: 0.5s all;
}


.activeTb{
    opacity: 1 !important;
    transform: translateY(0)!important;
    transition: 0.5s all!important;
    z-index: 16!important;
    visibility: visible!important;
}
.sub-nav-notify{
    padding: 10px 0;
    position: absolute;
    min-width: 300px;
    transform:translateY(50px);
    top: 50px;
    right: 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    background-color: #FFFFFF;
    transition: 0.5s all;
    border-radius: 2px;
    box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
}
.sub-nav-notify li{
    padding: 5px 12px;
    border-radius: 0;
}

.sub-nav-notify li:hover{
    background-color: #F5F5F5;
    transition: 0.5s all;
}
.sub-nav-notify li a{
    color: rgba(0, 0, 0, 0.85) !important;
    transition: 0.5s all;
}
.sub-nav-notify li:hover a{
    color: #2F54EB;
    transition: 0.5s all;
}

.help:hover > .sub-nav-help{
    opacity: 1;
    transform: translateY(0);
    transition: 0.5s all;
    z-index: 10;
    visibility: visible;
}
.sub-nav-help{
    padding: 10px 0;
    position: absolute;
    min-width: 280px;
    transform:translateY(50px);
    top: 25px;
    right: 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    background-color: #FFFFFF;
    transition: 0.5s all;
    border-radius: 2px;
    box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
}
.sub-nav-help li{
    padding: 5px 12px;
    border-radius: 0;
}

.sub-nav-help li:hover{
    background-color: #F5F5F5;
    transition: 0.5s all;
}
.sub-nav-help li a{
    color: rgba(0, 0, 0, 0.85) !important;
    transition: 0.5s all;
}
.sub-nav-help li:hover a{
    color: #2F54EB;
    transition: 0.5s all;
}
.select2-container{
    width: 150px!important;
    outline: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #27272A;
}
.box{
    background: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(187, 185, 185, 0.5);
    border-radius: 30px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th,
td {
    padding: 1rem 2rem;
    text-align: center;
    white-space: nowrap;

}
td{
    border-bottom: 1px solid #ddd;

}
tr:last-child td{
    border-bottom: none;
}
th {
    font-weight: normal;
    color: #666;
}
.dsth th,td{
    padding: 0.5rem 1.5rem;
}
.dsth th{
    background: #F0F5FF;
}
.dsth td{
    border-bottom: none;

}
.dsth tr:nth-child(even){
    background: #F5F5F5;
}
.char{
    background: #E6F7FF;
    border-radius: 12px;
}
.box-act{
    background: #FAFAFA;
    border-radius: 16px;
}
.tab-th li{
    padding: 14px 30px;
    border-bottom: 3px solid #F0F0F0;
}
.tab-th li.active{
    border-bottom: 3px solid #2F54EB;
}
.tab-th li.active a{
    font-weight: 500;
    color: #1D39C4;
}
.tab-tbl li{
    padding: 14px 30px;
    border-bottom: 3px solid #F0F0F0;
}
.tab-tbl li.active{
    border-bottom: 3px solid #2F54EB;
}
.tab-tbl li.active a{
    font-weight: 500;
    color: #1D39C4;
}
.pagination li{
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
}
.pagination li:hover{
    border: 1px solid #1890FF;
    transition: 0.5s all;
    cursor: pointer;
}
.pagination li:hover a{
    color:  #1890FF;
    transition: 0.5s all;
}
.pagination li.active{
    border: 1px solid #1890FF;
}
.pagination li.active a{
    color: #1890FF;
}

.toggle-pill input[type="checkbox"] {
    display: none;
}
.toggle-pill input[type="checkbox"] + label {
    display: block;
    position: relative;
    width: 40px;
    height: 20px;
    border-radius: 1em;
    background: #e5e5e5;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
}
.toggle-pill input[type="checkbox"] + label:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 1em;
    background: white;
    position: absolute;
    left: 2px;
    top: 2px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.toggle-pill input[type="checkbox"]:checked + label:before {
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    left: 22px;
    -webkit-transform: rotate(295deg);
    transform: rotate(295deg);
}
.toggle-pill input[type="checkbox"]:checked + label {
    background: #2F54EB;
}
.box-more{
    max-height: 0;
    overflow: hidden;
    transition: 0.5s all;
}
svg{
    transform: rotate(0deg);
    transition: 0.5s all;
}
.scroll-more{
    max-height: 800px;
    overflow-y: auto;
    transition: 0.5s all;
}
.rotate{
    transition: 0.5s all;
    transform: rotate(180deg);
}
.process::after{
    content: '';
    position: absolute;
    width: 20px;
    border-radius: 100px;
    height: 8px;
    background-color: #2F54EB;
}
.tab-side li{
    border-left: 4px solid #f5f5f5;
    padding: 12px 0 12px 20px;
}
.tab-side li:hover a{
    color: #096DD9;
    transition: 0.5s all;
}
.tab-side li a{
    color: rgba(0, 0, 0, 0.85);
}
.tab-side li.active{
    border-color: #096DD9;
}
.select2-container{
    width: 100% !important;

}
.select2-container .select2-selection--single{
    height: 38px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    font-size: 16px !important;
    padding-top: 4px !important;
}
.select2-container--default .select2-selection--single{
    border-radius: 2px !important;
    border-color: #D9D9D9!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px !important;

}
.tab-date li{
    padding: 8px;
}
.tab-date li.active{
    border-bottom: 2px solid #096DD9;
}
.tab-sub-user{
    margin-left: 50px;
}
.tab-sub-user li{
    padding: 3px 0;
}
.tab-sub-user li:hover a{
    color: #096DD9;
    transition: 0.5s all;
}
.tab-sub-user li.active{
    color: #096DD9;
    font-weight: 500;
}

.scrollb{
    scrollbar-color:#F2F8FF;
}

@media only screen and (max-width: 560px) {
    .tab-register li{
        padding: 8px 36px;
    }
    th,
    td {
        padding: 10px 6px !important;
        text-align: center;
    }
    .menu-mobile{
        position: fixed;
        background-color: white;
        z-index: 100;
        height: 100%;
        min-width: 280px;
        top: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        z-index: 100;
        transform: translateX(200px);
        box-shadow: 0 10px 60px rgba(0, 0, 0, 0.2);
        transition: 0.5s all;
    }
    .show-menuMB{
        visibility: visible;
        transform: translateX(0);
        transition: 0.5s all;
        opacity: 1;
        z-index: 888;
    }
    .over-lay-mobile{
        background: rgba(0, 0, 0, 0.2);
        z-index: -1;
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: none;
        transition: 0.5s all;
    }
    .select2-container{
        width: 250px !important;
    }
    .nav-menu-mb{
        color: #2F54EB;
    }
    .nav-sub-menu-mb{
        display: none;
        transition: 0.5s all;
    }
    .nav-menu-mb li{
        width: 100%;
        padding: 5px 12px;
    }
    .nav-menu-mb li:hover > .nav-sub-menu-mb{
        display: block;
        transition: 0.5s all;
    }
    .nav-menu-mb li:hover{
        background-color: #F5F5F5;
        transition: 0.5s all;
    }
    .nav-menu-mb li:hover > .nav-sub-menu-mb{
        margin-left: 10px;
        background-color: unset!important;
    }
    .nav-menu-mb li a svg{
        transform: rotate(0deg);
        transition: 0.5s all;
    }
    .nav-menu-mb li:hover a svg{
        transform: rotate(180deg);
        transition: 0.5s all;
    }
}

.deleteImg1 {
    z-index: 2;
    width: 16px;
    height: 16px;
    position: absolute;
    opacity: 0;
    transition: 0.5s all;
}

.file-name .item:hover .over-lay {
    opacity: 1;
    transition: 0.5s all;
}

.file-name .item:hover .deleteImg1 {
    opacity: 1;
    transition: 0.5s all;
}

/*dashboard ncc*/
.box-shadow{
    box-shadow: 0px 0px 25px rgba(48, 73, 191, 0.07);
}

.btnGra{
    background: linear-gradient(180deg, #7280FD 0%, #7280FD 0.01%, #4C5DF4 100%) ;

}
.pro{
    background: #FFFFFF;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
border-radius: 2px
}
.nav{
    
box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.12);
z-index: 5;
}

.side-bar-tab{
    max-width: 100%;
    transition: 0.5s all;
}
.small-menu{
    max-width: 92px;
    transition: 0.5s all;
    overflow: hidden;
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    .small-menu{
        max-width: 75px;
    }
}
@media only screen and (max-width: 1023px) {
    .small-menu{
        max-width: 58px;
    }
}
.zthumb-t2 .thumb-zsharing img{
    object-fit: contain !important;
}



